Source/DCS.Application.App/obj/
*.xml
Source/DCS.Application.App/bin/
*.txt
Source/DCS.Domain.SharedKernel/obj/
Source/DCS.Domain/obj/
Source/DCS.Infra.CrossCutting.IoC/bin/
Source/DCS.Infra.CrossCutting.IoC/obj/
Source/DCS.Infra.Data/bin/
Source/DCS.Infra.Data/obj/
Source/DCS.Presetantion.API/bin/
Source/DCS.Presetantion.API/obj/
Tests/DCS.Domain.Test/obj/
packages/
Source/DCS.Presetantion.API/wwwroot/bower_components/
Source/DCS.Presetantion.API/wwwroot/node_modules/
Source/DCS.Presetantion.API/Properties/PublishProfiles/
