<h3>Editar Perfil</h3>

<form name="usuarioEditarForm" ng-submit="vm.submit()" novalidate>
    <div class="form-group"
         ng-class="{ 'has-error' : usuarioEditarForm.nome.$invalid && usuarioEditarForm.nome.$dirty }">
        <label for="nome" class="col-lg-2 control-label">Nome *</label>
        <div class="col-lg-10">
            <input class="form-control"
                   id="nome"
                   name="nome"
                   type="text"
                   ng-model="vm.usuario.nome"
                   required>
        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : usuarioEditarForm.email.$invalid && usuarioEditarForm.email.$dirty }">
        <label for="email" class="col-lg-2 control-label">Email *</label>
        <div class="col-lg-10">
            <input class="form-control"
                   id="email"
                   nome="email"
                   ng-minlength="5"
                   ng-maxlength="160"
                   ng-model="vm.usuario.email"
                   type="email"
                   required>
        </div>
    </div>
    
    <div class="form-group"
         ng-class="{ 'has-error' : usuarioEditarForm.senha.$invalid && usuarioEditarForm.senha.$dirty }">
        <label for="senha" class="col-lg-2 control-label">Senha *</label>
        <div class="col-lg-10">
            <input class="form-control"
                   id="senha"
                   nome="senha"
                   ng-minlength="6"
                   ng-maxlength="20"
                   ng-model="vm.usuario.senha"
                   type="password"
                   required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <a href="#" class="btn btn-default">Cancelar</a>
            <button ng-disabled="usuarioEditarForm.$invalid || !usuarioEditarForm.$dirty"
                    type="submit" class="btn btn-primary">
                Editar
            </button>
        </div>
    </div>
</form>